.container {
  /* min-height: 90vh; */
  height: 100%;
  /* display: flex; */
  align-items: center;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.main {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 100px;
}
.header {
  margin-bottom: 30px;
}
h2, h6, span{
  text-align: center;
  /* color: white; */
}
.submit {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.submit:hover {
  background-color: #45a049;
}
.arrow {
  font-size: large;
  margin-left: 10px;;
}
.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
